.Car {
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: border, box-shadow 0.3s;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14);
}

.Car:hover {
  border: 1px solid #aaa;
  box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.input:active {
  outline: none;
}

